<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SnaffTrooper</title>
    <link href="./static/style.css" rel="stylesheet">
</head>

<body>
<h1>{{message}}</h1>
<nav>
    <ul class="selection">
        <div class="box_center">
            <li class="link_selection"><a href="./">Index</a></li>
            <li class="link_selection"><a href="./ManualEvaluation">Check ticket</a></li>
            <li class="link_selection"><a href="./saveCSV">CSV:{{csv_status}}</a></li>
        </div>
    </ul>
</nav>

<article>
<table>
	<h1>CSV</h1>

    <thead>
        <tr>
            <th colspan="2">Details</th>
        </tr>
    </thead>
    <tbody>
    	{% for k, v in dict_stat.items() %}
    	<tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
        </tr>
	    {% endfor %}
        
    </tbody>
</table>
</article>


<aside>
	<h1>Exclusion(s)</h1>
<table>
    <thead>
        <tr>
            <th colspan="2">Configuration</th>
        </tr>
    </thead>
    <tbody>
    	{% for k, v in options.items() %}
    	<tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
        </tr>
	    {% endfor %}
        
    </tbody>
</table>
</aside>

</body>
</html>